# ===============================
# Java / Maven
# ===============================
target/
*.class
*.jar
*.war
*.ear

# ===============================
# IntelliJ IDEA
# ===============================
.idea/
*.iml
*.iws
*.ipr
out/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Frontend
# ===============================
node_modules/
dist/
build/
.next/

# ===============================
# Variables de entorno
# ===============================
.env
.env.local
.env.development
.env.production

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Sistema operativo
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Archivos sensibles
# ===============================
application-local.properties